<form action="" name="appForm">
<div class="row">
<div class="optionListContainer col-md-6 col-xs-12 form-inline" show-errors="{ skipFormGroupCheck: true }" ng-class="{'has-error': submitFlag && appForm.selectItem.$error.required}">


	<ui-select id="viewSelector"
		name="selectItem" 
		class="viewSelector col-md-5"
		ng-model="selectedValue" 
		on-select="onSelected($item.attributeName);"
		ng-click="resetSubmitFlag();"
		required
		>
		<ui-select-match 
			placeholder="Choose an option"
			>
			{{$select.selected.attributeName}}
		</ui-select-match>
		<ui-select-choices 
			group-by="itemGroup"
			repeat="item in optionsList | filter: $select.search" 
			>
		  	<span ng-bind-html="item.attributeName | highlight: $select.search"></span>
		</ui-select-choices>
	</ui-select>
	<button type="button" class="btn glyphicon glyphicon-plus-sign" ng-click="showChosenItem(selectedValue);" ></button>
	<div class='clickedItemContainer'>
		{{clickedItem}}
	</div>
	<p class="help-block" ng-class="{'hidden': !submitFlag}" ng-if="appForm.selectItem.$error.required">The option is required</p>

</div>
</div>
</form>