body {
	margin: 30px;
	}

.hidden {
	display: none;
	}
.viewSelector {
    float: left;
    margin: 0 10px 10px 0;
	}
.optionListContainer div.form-control {
	border: none;
    padding: 0;
	}
.clickedItemContainer {
	clear: both;
	}
div.col-md-5,div.col-md-6,div.col-xs-12 {
	padding-left: 1px; 
	padding-right: 1px;
	}
.form-inline span.form-control {
	display: block;
	}